<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/cadastro.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
  <title>Cadastro</title>
</head>

<body>

  <header>
    <nav class="bar">
      <nav class="op0">
        <div class="op0"></div>
      </nav>
      <a id="menu" href="#menu">
        <img src="img/menu.png" alt="" width="30" height="30">
      </a>
      <a href="../tela-inicial.html">
        <img class="logo" src="img/logo.png" alt="logo" width="90" height="80" />
      </a>
      <input class="search" type="text" placeholder="Pesquisar...">
      <a id="btn" href="">
        <img src="img/lupa-icone.png" alt="" width="25" height="25">
      </a>
      <a id="bag" href="#comprando">
        <img src="img/mochila.png" alt="mochila" width="50" height="50">
      </a>
      <a id="user" href="#login">
        <img src="img/profile-user.png" alt="mochila" width="30" height="30">
        <br> LOGIN/CADASTRO
      </a>
      <nav class="op0">
        <div class="op0"></div>
      </nav>
  </header>

  <main>
    <nav class="container">
      <nav class="content">
        <nav class="titulo-cat">
          <h1>MINHA CONTA</h1>
        </nav>
        <nav class="cadastro">
          <nav class="cadastro-1">
            <h2 id="entrar">Entrar</h2>
            <h2 id="email">Nome de usuário ou e-mail *</h2>
            <input type="text" type="text" placeholder="">
            <h2 id="senha">Senha *</h2>
            <input type="text" type="text" placeholder="">
          </nav>
          <nav class="cadastro-2">
            <h2 id="registrar">Registrar</h2>
            <h2 id="email-rg">Endereço de e-mail *</h2>
            <input type="text" type="text" placeholder="">
            <h2 id="senha-rg">Senha *</h2>
            <input type="text" type="text" placeholder="">
          </nav>
        </nav>
      </nav>
    </nav>
  </main>

  <footer>
    <div class="container-footer">
      <div class="logo-ft">
        <img src="img/logo.png" alt="Loja Geek House" width="100" height="100">
      </div>
      <br>
      <div class="redes-sociais">
        <br>
        <h3 id="sg">Siga nos:</h3>
        <br>
        <a id="redes-sociais" href="#instagram">
          <img src="img/instagram.png" width="24px" height="24px">instagram
          <br>
        </a>
        <br>
        <a id="redes-sociais" href="#twitter">
          <img src="img/twitter.png" width="24px" height="24px">twitter
          <br>
        </a>
        <br>
        <a id="redes-sociais" href="#facebook">
          <img src="img/fb.png" width="24px" height="24px">facebook
          <br>
        </a>
        <br>
      </div>
      <div class="menu-1">
        <h3 id="inst">Institucional</h3>
        <br>
        <a id="link-1" href="">
          <span>Nossas Lojas</span>
        </a>
        <br>
        <a id="link-1" href="">
          <span>Sobre Nós</span>
        </a>
        <br>
        <a id="link-1" href="">
          <span>Termos de Uso</span>
        </a>
        <br>
        <a id="link-1" href="">
          <span>Perguntas Frequentes</span>
        </a>
        <br>
        <a id="link-1" href="">
          <span>Contato</span>
        </a>
        <br>
      </div>
      <div class="payment">
        <h4 id="link-1">Formas de pagamento
          <img src="img/lock_fcfbe393.svg" alt="Compra 100% segura" class="icons ml-3">
        </h4>
        <br>
        <img src="img/icons-payment-methods_080967e2.png" alt="Formas de pagamento" class="payment-icon-desk">
        <br>
      </div>
      <div id="noticias">
        <h2 id="nt-text">Newsletter</h2>
        <input id="not" type="text" placeholder="E-mail">
        <a href="#sendemail">
          <img src="img/airplane.png" width="24px" height="24px">
        </a>
      </div>
    </div>
  </footer>

</body>

</html>