<!DOCTYPE html>
<html lang="Pt-Br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/carrinho.css">
    <title>Carrinho</title>
</head>
<body>
    <main>
        <h1>Meu Carrinho</h1>
        <section class="conteiner">
            
            <div class="img-produto">
                <img src="../public/img/Boleto.png" alt="">
            </div>

            <div class="produto">
                <div>
                    <p>Descrição</p>
                </div>
                <div class="mini-box">
                    <div class="qtd-box">
                        <a href="#"> + </a> QTD <a href="#"> - </a>
                    </div>
                    <div class="valor-box">
                        <p>Valor</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="conteiner-frete">
            <form action="#" method="post">
                <h3>
                    Calcular frete e prazo
                </h3>

                <input type="text" placeholder="Destino">
                <button type="submit"> OK</button>
            </form>
        </section>

        <h2>
            Resumo do pedido
        </h2>

        <section class="conteiner-resumo">

            <div class="resumo-box">

                <div class="mini-box-resumo">
                    <div>
                        Quantidade de produtos
                    </div>
                    <div>
                        Frete
                    </div>
                </div>

                <div class="resumo-box-lateral-direita">
                    <div>
                        Valor total dos produtos
                    </div>
                    <div>
                        Valor do frete
                    </div>
                </div>
            </div>
            <hr>
            <p>Total</p>
        </section>

        <section class="conteiner-btns">
            <a href="#"> Continuar</a>
            <a href="#">adicionar mais produtos</a>
        </section>

        <section class="similares-box">

            <div>
                <div class="box-item">
                    <img src="../public/img/Boleto.png" alt="Falha ao carregar a imagem">
                    <p>Descrição</p>
                </div>
                <div class="box-item">
                    <img src="../public/img/Boleto.png" alt="Falha ao carregar a imagem">
                    <p>Descrição</p>
                </div>
            </div>
            <div>
                <div class="box-item">
                    <img src="../public/img/Boleto.png" alt="Falha ao carregar a imagem">
                    <p>Descrição</p>
                </div>
                <div class="box-item">
                    <img src="../public/img/Boleto.png" alt="Falha ao carregar a imagem">
                    <p>Descrição</p>
                </div>
            </div>
            <div>
                <div class="box-item" id="off">
                    <img src="../public/img/Boleto.png" alt="Falha ao carregar a imagem">
                    <p>Descrição</p>
                </div>
                <div class="box-item" id="off">
                    <img src="../public/img/Boleto.png" alt="Falha ao carregar a imagem">
                    <p>Descrição</p>
                </div>
            </div>

            <div>
                
                <div class="box-item-ultimo" id="off">
                    <img src="../public/img/Boleto.png" alt="Falha ao carregar a imagem">
                    <p>Descrição</p>
                </div>
            </div>

        </section>
    </main>
    
</body>
</html>