<!DOCTYPE html>
<html lang="PT-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/main.css">
    <title>Pagamento</title>
</head>

<body>
    <header>
        <section class="header">
            <div class="logo-header">
                <img src="../public/img/logo.png" alt="Erro">
            </div>
            <div class="search-box">
                <form action="#">
                    <input class="search-txt" type="text" name="barra-pesquisa" id="barra-pesquisa"
                        placeholder="Faça sua pesquisa">
                </form>
                <a class="search-btn" href="#">
                    <img class="search-img" src="../public/img/lupa-icone.png" alt="">
                </a>
            </div>
            <div>
                <button class="header-btn" href="#">Login</button>
            </div>
        </section>
        <hr>
        <section class="header-mid">
            <a href="#"> Menu </a>
        </section>
    </header>
    <main class="main-content">
        <section class="main-section">
            <img class="main-img" src="../public/img/positivo.png" alt="Falha ao carregar a imagem">
            <h2>Pedido concluído com sucesso</h2>
        </section>
        <div class="main-div">
            <p class="main-p">Você receberá um e-mail de confirmação do pedido com todos os detalhes da sua compra.Caso não tenha recebido verifique sua caixa de spam.
            </p>
        </div>
        <div class="main-buy">
            <a class="main-a "href="##"><h2> Continuar comprando</h2></a>
        </div>
    </main>
</body>

</html>