<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/produto.css">
    <title>Produto</title>
</head>
<body>
    <main>
        
        <section class="conteiner">
            <div class="imagem-produto">
                <img src="https://img.ltwebstatic.com/images3_pi/2020/12/04/16070591035b405e8758b1d108ed10e8318a8dc287_thumbnail_600x.webp" alt="Falha ao carregar foto">
            </div>
        </section>
        <section class="conteiner-pequeno">
            <p>Preço e cores</p> 
        </section>
        <section class="conteiner-pequeno">
                <a href="#"> Comprar </a>
        </section>
        <section class="conteiner-pequeno">
                <a href="#"> Adicionar a sacola </a>
        </section>
        <section class="conteiner-pequeno">
            <p>Descrição</p>
        </section>
        <section class="conteiner-medio">
            <div class="metade">
                <div class="imagem-produto-pequeno">
                    <img src="../public/img/MercadoPago.png" alt="">
                    <p>Descrição</p>
                </div>
                <div class="imagem-produto-pequeno">
                    <img src="../public/img/MercadoPago.png" alt="">
                    <p>Descrição</p>
                </div>
            </div>

            <div class="metade">
                <div class="imagem-produto-pequeno">
                    <img src="../public/img/MercadoPago.png" alt="">
                    <p>Descrição</p>
                </div>
                <div class="imagem-produto-pequeno">
                    <img src="../public/img/MercadoPago.png" alt="">
                    <p>Descrição</p>
                </div>
            </div>

                <div class="metade" id="off">
                    <div class="imagem-produto-pequeno">
                        <img src="../public/img/MercadoPago.png" alt="">
                        <p>Descrição</p>
                    </div>
                    <div class="imagem-produto-pequeno">
                        <img src="../public/img/MercadoPago.png" alt="">
                        <p>Descrição</p>
                    </div>
                </div>

        </section>
    </main>
</body>
</html>