*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100vw;
    height: 150px;
    background-color: #c1c1c1;
}

.logo-header{
    padding-left: 30px;
}

header section div form label img {
    width: 20px;
}

.header-mid {
    margin-top: 20px;
    width: 100vw;
    text-align: center;
}

.header-mid a{
    text-decoration: none;
}

#barra-pesquisa {
    width: 350px;
    height: 25;
    border: none;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.meio{
    justify-content: space-around;
    padding-top: 22px;
}

.header-btn{
    margin-right: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;
    background-color: #4158D0;
    color: #C850C0;
    outline: none;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 10px;
    box-shadow: 5px -5px 0 #000 ;
}

.header-btn:hover{
    background-color: #C850C0;
    color: #4158D0;
    outline: none;
    box-shadow: -5px -5px 0 #000 ;
}

.header-btn:active{
    background-color: #000;
    color: #fff;
}
.search-box{
    translate: (-50%,-50%);
    background: #353b48;
    height: 20px;
    border-radius: 40px;
    padding: 10px;
    display: flex;
    align-items: center
}

.search-btn{
    color: #00a8ff;
    float: right;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    background: #353b48;
    justify-content: center;
    align-items: center;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: rgba(255, 0, 234, 0.932);
    font-size: 16px;
    transition: 0.5s;
    line-height: 20px;
    width: 0px;
}

.search-box:hover > .search-txt{
    width: 240px;
    padding: 0 6px;
}

.search-img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: none;
}

.search-box:hover > .search-btn{
    background: #00a8ff;
    transition: 0.5s;
}

/* ----------------- Fim do Header -----------------*/

.main-content {
    width: 100vw;
    height: 121px;
    margin-top: 32px;
    background-color: #c1c1c1;
}

.main-img{
    width: 137px;
    height: 121px;
}

.main-section{
    display: flex;
    align-items: center;
}

.main-section h2{
    margin-left: 15px;
}

.main-div{
    display: block;
    top: 50px;
    width: 636px;
    height: 287px;
    margin-top: 150px;
    margin-left: 360px;
    background-color: #c1c1c1;
}

.main-p{
    text-align: center;
    padding-top: 70px;
    font-size: 29px;
    line-height: 35.1px;
}

.main-buy{
    width: 336px;
    height: 50px;
    margin-top: 118px;
    margin-left: 73%;
    background-color: #c1c1c1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-buy a {
    text-decoration: none;
}
